# Data Cleaning of Lego Sets and Themes dataset

## Import dataset

In [62]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Read dataset from the CSV file
df = pd.read_csv('lego_sets_and_themes.csv')

## Data Understanding

In [63]:
display(df.head())
print(df.columns)

,set_number,set_name,year_released,number_of_parts,image_url,theme_name
0,001-1,Gears,1965.0,43.0,https://cdn.rebrickable.com/media/sets/001-1.jpg,Technic
1,002-1,4.5V Samsonite Gears Motor Set,1965.0,3.0,https://cdn.rebrickable.com/media/sets/002-1.jpg,Technic
2,1030-1,TECHNIC I: Simple Machines Set,1985.0,210.0,https://cdn.rebrickable.com/media/sets/1030-1.jpg,Technic
3,1038-1,ERBIE the Robo-Car,1985.0,120.0,https://cdn.rebrickable.com/media/sets/1038-1.jpg,Technic
4,1039-1,Manual Control Set 1,1986.0,39.0,https://cdn.rebrickable.com/media/sets/1039-1.jpg,Technic

Index(['set_number', 'set_name', 'year_released', 'number_of_parts',
       'image_url', 'theme_name'],
      dtype='object')

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21503 entries, 0 to 21502
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   set_number       21496 non-null  object
 1   set_name         21496 non-null  object
 2   year_released    21496 non-null  float64
 3   number_of_parts  21496 non-null  float64
 4   image_url        21496 non-null  object
 5   theme_name       21503 non-null  object
dtypes: float64(2), object(4)
memory usage: 1008.1+ KB

In [65]:
df.describe()

       year_released  number_of_parts
count   21496.000000     21496.000000
mean     2007.579782       162.461760
std        13.980685       417.187521
min      1949.000000         0.000000
25%      2001.000000         4.000000
50%      2012.000000        32.000000
75%      2018.000000       142.000000
max      2023.000000     11695.000000

## Data Cleaning

In [66]:
# Missing values
df.dropna(subset=['set_number', 'set_name', 'year_released', 'number_of_parts',
       'image_url'], inplace=True)

In [67]:
# Check duplicates
dups = df.duplicated(subset=['set_number'])
# Remove duplicates
df = df[~dups]

In [68]:
# Convert year released to integer
df['year_released'] = df['year_released'].astype(int)

In [71]:
# Drop the image_url column as it is not needed for analysis
df.drop(columns=['image_url'], inplace=True)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21496 entries, 0 to 21502
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   set_number       21496 non-null  object
 1   set_name         21496 non-null  object
 2   year_released    21496 non-null  int64
 3   number_of_parts  21496 non-null  float64
 4   theme_name       21496 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 1007.6+ KB

In [73]:
df.head()

,set_number,set_name,year_released,number_of_parts,theme_name
0,001-1,Gears,1965,43.0,Technic
1,002-1,4.5V Samsonite Gears Motor Set,1965,3.0,Technic
2,1030-1,TECHNIC I: Simple Machines Set,1985,210.0,Technic
3,1038-1,ERBIE the Robo-Car,1985,120.0,Technic
4,1039-1,Manual Control Set 1,1986,39.0,Technic

In [74]:
# Export the cleaned dataframe to a new CSV file
df.to_csv('cleaned_lego_sets_and_themes.csv', index=False)

# Second Dataset

In [60]:
df2 = pd.read_csv('sets.csv')
# print(df2.head())
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14936 entries, 0 to 14935
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Set_ID            14936 non-null  object
 1   Name              14936 non-null  object
 2   Year              14936 non-null  int64
 3   Theme             14936 non-null  object
 4   Theme_Group       14915 non-null  object
 5   Subtheme          11495 non-null  object
 6   Category          14936 non-null  object
 7   Packaging         14936 non-null  object
 8   Num_Instructions  14936 non-null  int64
 9   Availability      14936 non-null  object
 10  Pieces            13133 non-null  float64
 11  Minifigures       7686 non-null   float64
 12  Owned             14771 non-null  float64
 13  Rating            14936 non-null  float64
 14  USD_MSRP          5837 non-null   float64
 15  Total_Quantity    12276 non-null  float64
 16  Current_Price     5442 non-null   float64
dtypes: float64(7), int64(2), object(8)
memory usage: 1.9+ MB

In [75]:
df2.describe()

,Year,Num_Instructions,Pieces,Minifigures,Owned,Rating,USD_MSRP,Total_Quantity,Current_Price
count,14936.000000,14936.000000,13133.000000,7686.000000,14771.000000,14936.000000,5837.000000,12276.000000,5442.000000
mean,2006.750736,1.196036,237.935734,2.709862,2045.236951,1.826627,39.967050,4.708618,90.164663
std,11.524612,2.087763,473.090631,2.955427,2972.330218,1.950909,55.006213,20.995961,193.452605
min,1975.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.490000,0.000000,0.050000
25%,2000.000000,0.000000,25.000000,1.000000,90.000000,0.000000,9.990000,0.000000,15.000000
50%,2009.000000,0.000000,81.000000,2.000000,744.000000,0.000000,19.990000,0.000000,36.000000
75%,2016.000000,2.000000,262.000000,3.000000,2828.500000,3.900000,49.990000,3.000000,92.000000
max,2023.000000,48.000000,11695.000000,80.000000,29429.000000,4.900000,849.990000,1063.000000,5499.990000

In [76]:
df2.columns

Index(['Set_ID', 'Name', 'Year', 'Theme', 'Theme_Group', 'Subtheme',
       'Category', 'Packaging', 'Num_Instructions', 'Availability', 'Pieces',
       'Minifigures', 'Owned', 'Rating', 'USD_MSRP', 'Total_Quantity',
       'Current_Price'],
      dtype='object')

In [ ]:
# Drop irrelevant columns
df2.drop(columns=['Packaging', 'Availability','Theme_Group','Subtheme','Category','Minifigures','Total_Quantity'])